.App {
  font-size: 16px;
  padding: 16px;
}

.App-header label {
  display: block;
  font-size: 24px;
  margin: 0;
}

.App-controls {
  display: flex;
  gap: 8px;
  justify-content: space-between
}

input {
  font-size: 24px;
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.App-add-task-btn {
  font-size: 24px;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  gap: 8px;
}

li span {
  flex: 1;
}

button.task-toggle {
  appearance: none;
  padding: 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #999;
  width: 32px;
  height: 32px;
}

button.text-button {
  appearance: none;
  cursor: pointer;
  color: #000000;
  text-decoration: underline;
  border: 0 none;
  background: transparent;
}
